body {
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;        
    min-height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 10px;
}

.lado-esquerdo{
    width: 600px;
    padding-right: 20px;
    margin-bottom: 200px;
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.lado-direito{
    flex: 1;
    margin-bottom: 150px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    h1 {
        color: #190574;
        font-size: 35px;
    }
}

.input-login {
    width: 100%;
    position: relative;
    padding: 10px;
    border: none;
    border-radius: 6px;
    width: 400px;
    outline: none;
    border: #abacb4 solid 3px;
}

.botao-login{
    width: 425px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    background-color: #190574;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.botao-login:hover {
    background-color: #190574d8;
}

a {
    width: 400px;
    color: #5053af;
    text-decoration: none;
    text-align: end;
}

a:hover {
        text-decoration: underline;
    }


.texto-cadastro{ 
    color: white;
}

.mensagem {
    margin-top: 20px;
    color: red;
}

.carregar {
   display: flex;
   align-items: center;
   gap: 10px;
}

.img-botao {
    height: 30px;
}

.esfera-principal {
    height: 900px;
    width: 900px;
    background-color: #190574;
    position: fixed;
    border-radius: 100%;
    bottom: 100px;
    left: -100px;
    z-index: -1;
}

.esfera-inferior-esquerda {
    height: 400px;
    width: 400px;
    background-color: #5053af;
    position: fixed;
    left: -90px;
    bottom: -90px;
    border-radius: 100%;
    z-index: 1;
}

.esfera-inferior-direita {
    height: 300px;
    width: 300px;
    background-color: #190574;
    position: fixed;
    right: -90px;
    bottom: -90px;
    border-radius: 100%;
    z-index: 1;
}

.campo-senha {
    position: relative;
    width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.olho {
    position: absolute;
    right: 165px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    cursor: pointer;
}